{% extends 'base/_base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    درباره ما | تکفایو
{% endblock %}

{% block intro %}
    <div class="intro-section single-cover" id="home-section">

        <div class="slide-1 " style="background-image: url({% static 'template_statics/pics/img_2.jpg' %});"
             data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="row justify-content-center align-items-center text-center">
                            <div class="col-lg-6">
                                <h1 data-aos="fade-up" data-aos-delay="0">درباره تکفایو</h1>
{#                                {% if not request.user.is_authenticated %}#}
                                    <p data-aos="fade-up" data-aos-delay="100">در رویداد ثبت نام کنید
                                        &bullet; <a href="{% url 'account:register' %}" class="text-white">
                                            ثبت نام</a>
                                    </p>
{#                                {% endif %}#}
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-9">
                    <h3 class="text-black mb-2 text-center">تکفایو</h3>
                    <p style="text-align: justify">
                        تکفایو(Tech5)، یک رویداد زنجیره ای در حوزه های مرتبط با انقلاب چهارم صنعتی(Industry4.0) یا نسل
                        پنجم فنآوری(Technology 5) می باشد.
                        انقلاب چهارم صنعتی ،به تغییرات شگرف و سریع در فنآوری، صنایع ،مدلهای کسب و کار و حتی زندگی روزمره
                        بشر اطلاق میشود که از ابتدای قرن ۲۱ آغاز و با سرعتی شگفت انگیز به پیشروی خود ادامه میدهد!
                        این انقلاب بر بستر چندین تکنولوژی مدرن بنا شده که شامل هوش مصنوعی،اینترنت
                        اشیا،بلاکچین،متاورس،پرینت سه بعدی و ... می باشد.
                        رسالت ما در تکفایو، ترویج فرهنگ خلق ثروت بر بستر این تکنولوژی هاست. مخاطبین ما از یک سو جوانان و
                        نوجوانان نخبه بعنوان نسل آینده فعالان اقتصادی کشور و از سوی دیگر فعالان اقتصادی،کارآفرینان و
                        صاحبان سرمایه است.
                        هر رویداد تکفایو معمولا روی یک موضوع یا تکنولوژی خاص نسل پنج تمرکز دارد. گهگاه در کنار
                        رویداد،نمایشگاه تخصصی اکوسیستم آن موضوع نیز برگزار میگردد.
                        شما میتوانید رویداد های پیشین و آتی تکفایو را از اینجا دنبال نمایید.
                        همچنین ما یک باشگاه ویژه نخبگان نسل پنج کشور را نیز راه اندازی کرده ایم که میتوانید از اینجا در
                        باره آن بدانید.
                    </p>

                    {% for message in messages %}
                        <div class="alert alert-info my-2">{{ message }}</div>
                    {% endfor %}

                    {% if request.user.is_authenticated %}
                        <form method="post" class="form-box border">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label for="{{ form.gender.id_for_label }}" class="text-black">جنسیت:</label>
                                    {{ form.gender|add_class:"form-control" }}
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="id_location" class="text-black">منطقه
                                        جغرافیایی:</label>
                                    <select name="location" id="id_location" class="form-control"></select>
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="{{ form.activities.id_for_label }}" class="text-black">فعالیت
                                        ها:</label>
                                    {{ form.activities }}
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="{{ form.files.id_for_label }}" class="text-black">تصاویر مجموعه:</label>
                                    {{ form.files|add_class:"form-control" }}
                                </div>
                                <div class="col-12 mb-2">
                                    <label for="{{ form.description.id_for_label }}" class="text-black">توضیحات:</label>
                                    {{ form.description|add_class:"form-control" }}
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-pill">ارسال</button>
                                </div>
                            </div>
                        </form>
                    {% else %}
                        {#                        <div class="rounded border p-3">#}
                        {#                            <h6>برای مشاهده فرم ابتدا <a href="{% url 'account:login' %}">وارد حساب</a> خود شوید.</h6>#}
                        {#                        </div>#}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block manual_js_code %}
    <script src="{% static 'template_statics/js/select_locations.js' %}"></script>
{% endblock %}